/* Resetting styles to ensure consistent behavior */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Define a flex container for the entire page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the content takes at least the full viewport height */
}



/* Ensure the main content grows to fill the available space */
main {
    flex-grow: 1;
    padding: 30px;
}

/* Header Navbar CSS */
.navbar {
    color: white; 
    border-bottom: 2px solid #ff6600; 
    padding: 15px 0; 
}

.navbar-toggler {
    border: 2px solid; /* Remove border */
    padding: 0.5rem 1rem; /* Adjust padding */
    margin-right: 8px;
}

.navbar-toggler:focus {
    outline: none; 
}

.navbar-nav .nav-item {
    margin: 0 20px; /* Adjust spacing between items */
}

.nav-link {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 1rem 1.5rem;
    font-size: 20px;
}

.navbar-brand {
    font-size: 28px; /* Increase font size */
    font-weight: bold; /* Bold text */
    color: #ff6600; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s;
    margin-left: 10px; /* Smooth color transition */
}


/* Dropdown menu */
.dropdown-menu {
    background-color: #343a40; /* Dropdown background color */
}

.dropdown-item {
    color: white; /* Dropdown item text color */
    padding: 0.75rem 1.25rem; /* Increase padding */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Larger font size */
}

.dropdown-item:hover {
    background-color: #464e57; /* Dropdown item background on hover */
    color: white; /* Dropdown item text color on hover */
}

/* kontakt obrazec css */
#form-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    border: 2px solid #949393;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Style the labels */
  .form-group label {
    display: block; /* Labels on their own line */
    font-weight: bold;
  }
  
  /* Style the input fields */
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the submit button */
  .form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Style the submit button on hover */
  .form-group button:hover {
    background-color: #0056b3;
  }
  

/* Footer CSS */
footer {
    color: white; /* Text color */
    padding: 30px 0; /* Adjust padding */
    border-top: 2px solid #ff6600;
}

/* Footer links */
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px; /* Adjust spacing between items */
}

.footer-links h5 {
    font-weight: bold; /* Bold titles */
    font-size: 20px; /* Adjust title text size */
    margin-bottom: 15px; /* Spacing between titles and list */
}

.footer-links a {
    text-decoration: none;
    color: rgb(199, 192, 192); /* Link text color */
    transition: color 0.3s; /* Smooth color transition */
}

.footer-links a:hover {
    color: #ff6600; /* Link color on hover */
}

.footer-links li {
    text-decoration: none;
    color: rgb(199, 192, 192); /* Link text color */
    transition: color 0.3s; /* Smooth color transition */
}


/* Social media icons */
.social-icons a {
    color: white; /* Icon color */
    text-decoration: none;
    margin-right: 20px; /* Adjust spacing between icons */
    font-size: 24px; /* Icon size */
}

/* Footer address */
.footer-address {
    font-size: 18px; /* Address text size */
    color: rgb(199, 192, 192); 
}
body {
    background-image: url("/static/Slike/2.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style for Kontakt page */
.kontakt-container {
    padding: 30px;
    border: 3px solid #696666;
    justify-content: center;
    align-items: center;
    background-color: #918888;
  }
  
.business-card {
    background-color: #f3ecec;
    padding: 20px;
    border: 2px solid #686464;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}
  
.business-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-radius: 320px;
}
  
.business-card h2 {
    font-size: 2.2rem;
    color: #333;
    margin-top: 10px;
}
  
.business-card .lead {
    font-size: 1.88rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.google-maps-responsive {
    background-color: #f3ecec;
    position: relative;
    padding-top: 30%; /* 16:9 aspect ratio (adjust as needed) */
    border: 2px solid #686464;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}
  
.google-maps-responsive iframe {
    position: absolute;
    top: 50%; /* Move the iframe 50% from the top */
    left: 0;
    width: 100%;
    transform: translateY(-50%); /* Adjust the translateY value to center vertically */
    height: 70%;
    border: 0;
}

.delovni-cas {
    background-color: #f3ecec; 
    padding: 20px;
    border: 2px solid #686464;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    padding-bottom: 43px;
}
.delovni-cas-text{
    font-weight: bold;
}
.delovni-cas-title{
    margin-top: 20px;   
}


/* Style for the car gallery title */
.galerija-container {
    background-color: #f1eaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.car-gallery {
    background-color: #cfcccc;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.car-gallery h2 {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.car-gallery p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for each car in the gallery */
.car-gallery .col-md-4 {
    border: 2px solid #a09e9c;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Style for the images and their captions */
.car-gallery .carousel-item {
    text-align: center;
}

.car-gallery .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    max-height: 400px;
    max-width: 320px;
    min-width: 320px;
    border: 2px solid #757473;
}

/* Hover effect to scale images */
.car-gallery .col-md-4:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style for the carousel indicators */
.car-gallery .carousel-indicators {
    bottom: 0;
}

/* Style for the carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    margin: 0;
}


.galerija2-container {
    background-color: #2c3e50; /* Set your desired background color */
    padding: 40px; /* Add padding for spacing */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    color: #ecf0f1; /* Set text color */
}

.galerija2-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#carouselCarLine {
    margin-top: 20px;
}