<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
        {% load static %}  
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>Gorenc Detailing</title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'domaca_stran' %}">Gorenc Detailing</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if active_page == 'storitve' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'storitve' %}">Storitve</a>
                    </li>
                    <li class="nav-item {% if active_page == 'galerija' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'galerija' %}">Galerija</a>
                    </li>
                    <li class="nav-item {% if active_page == 'priporocila' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'priporocila' %}">Priporočila</a>
                    </li>
                    <li class="nav-item {% if active_page == 'kontakt' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
                    </li>              
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" href="{% url 'kontakt_obrazec' %}">Naročite se zdaj</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    
    <footer class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 footer-links">
                    <h5>Hitre povezave</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Domov</a></li>
                        <li><a href="{% url 'storitve' %}">Storitve</a></li>
                        <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
                        <li><a href="{% url 'galerija' %}">Galerija</a></li>
                        <li><a href="{% url 'priporocila' %}">Priporočila</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 footer-links">
                    <h5>Poveži se z nami!</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="https://www.instagram.com/gorenc.detailing/"><i class="fab fa-instagram"></i> Instagram</a></li>
                        <li><a href="https://www.tiktok.com/@gorenc.detailing"><i class="fab fa-tiktok"></i> TikTok</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 footer-links">
                    <h5>Kje se nahajamo</h5>
                    <ul class="list-unstyled">
                        <li>Hrastno pri Šentrupertu 9</li>
                        <li>Šentrupert, Slovenija</li>
                        <li>8232</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    
<!-- Bootstrap JS, jQuery, and FontAwesome icons -->
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include FontAwesome Icons -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<!-- Include FancyBox JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
{% block extrascripts %}
{% endblock %}
</body>
</html>
