{% extends "base.html" %}

{% block content %}
<div class="galerija-container">
  <div class="row">
    {% for avto in avti %}
    <div class="col-md-4 mb-4">
      <div class="car-gallery">
        <h2>{{ avto.znamka }} {{ avto.model }}</h2>
        <div id="carousel-{{ avto.id }}" class="carousel slide" data-ride="carousel" data-interval="10000">
          <ol class="carousel-indicators">
            {% for slika in avto.avtoslike_set.all %}
            <li data-target="#carousel-{{ avto.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for slika in avto.avtoslike_set.all %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <div class="img-wrapper">
                <img src="{{ slika.slika.url }}" alt="{{ avto.znamka }} {{ avto.model }}" class="img-fluid">
              </div>              
              <div class="carousel-caption">
                
              </div>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carousel-{{ avto.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-{{ avto.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
