{% extends "base.html" %}

{% block content %}
<div class="galerija-container" id="galerija-container">
  <div class="gallery-description text-center mb-3">
    <h2 class="font-weight-bold mb-4">NAŠE DELO GOVORI ZASE</h2>
    <p class="intro-text">
      Spodaj je predstavitev nekaterih avtomobilov, na katerih smo imeli priložnost ustvarjanja izboljšav. 
    </p>
    <hr>
  </div>
  <div class="row">
    {% for avto in avti %}
    <div class="col-md-4 mb-4">
      <div class="car-gallery">
        <h2 class="font-weight-bold">{{ avto.znamka }} {{ avto.model }}</h2>
        <div id="carousel-{{ avto.id }}" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for slika in avto.avtoslike_set.all %}
            <li data-target="#carousel-{{ avto.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            {% for slika in avto.avtoslike_set.all %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <a href="{{ slika.slika.url }}" data-fancybox="gallery-{{ avto.id }}" data-caption="{{ avto.opis }}">
                <div class="img-wrapper center-image">
                  <img src="{{ slika.slika.url }}" alt="{{ avto.znamka }} {{ avto.model }}" class="img-fluid">
                </div>              
              </a>
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carousel-{{ avto.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-{{ avto.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- CarLineSlike -->
<div class="galerija2-container">
  <div class="car-gallery2">
    <div class="text-center mb-4">
      <h1 class="display-4">Sodelujemo tudi z avto hišo CAR LINE!</h1>
      <p class="car-line-description">
        V Gorenc Detailing smo zavezani odličnosti, kar se odraža v našem partnerstvu z avto hišo Car Line. 
        Naše skupno poslanstvo je zagotavljanje vrhunske kakovosti in storitev. Kot specialisti za detailing avtomobilov poskrbimo, da vsako vozilo Car Line zasije v popolni podobi.
        Za ogled ponudbe Car Line, <a href="https://www.carline.si/" target="_blank">kliknite tukaj</a>.
      </p>  
  </div>

  <div class="row">
        {% for car_line_slika in car_line_slike %}
        <div class="col-md-4 gallery-item">
          <img src="{{ car_line_slika.car_line_slika.url }}" class="img-fluid gallery-image no-pointer" alt="Car Line Image">
        </div>
        {% endfor %}
  </div>
</div>
{% endblock %}
{% block extrascripts %}
<script>
  $(document).ready(function() {
    $("[data-fancybox^='gallery']").fancybox({
      // Options for FancyBox
      loop: true, // Enable looping through images
      toolbar: "auto", // Display toolbar automatically
      buttons: ["slideShow", "fullScreen", "thumbs", "close"], // Customize toolbar buttons
      animationEffect: "fade", // Choose the animation effect (e.g., "fade", "zoom", "zoom-in-out")
      transitionEffect: "fade", // Choose the transition effect (e.g., "fade", "slide", "zoom-in-out")
      idleTime: 5000, // Set the time (in ms) before the toolbar disappears
    });
  });
</script>
{% endblock %}
