{% extends "base.html" %}
{% block content %}

<div id="kontakt-form-container">
<div class="gallery-description text-center">
    <h2 class="font-weight-bold">Kontaktirajte nas!</h2>
</div>
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<form action="{% url 'appointments' %}" method="post" class="container mt-5">
  {% csrf_token %}
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="{{ obrazec.ime.id_for_label }}">Ime in priimek:</label>
              <input type="text" name="ime" id="{{ obrazec.ime.id_for_label }}" value="{{ obrazec.ime.value }}" placeholder="Ime in priimek" required>
          </div> 
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="{{ obrazec.email.id_for_label }}">Vaša e-pošta:</label>
              <input type="email" name="email" id="{{ obrazec.email.id_for_label }}" value="{{ obrazec.email.value }}" placeholder="E-pošta" required>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
              <label for="{{ obrazec.telefon_for_label }}">Telefonska številka:</label>
              <input type="text" name="telefon" id="{{ obrazec.telefon_for_label }}" value="{{ obrazec.telefonska_stevilka.value }}" placeholder="Telefon" required>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <label for="{{ obrazec.vas_avto.id_for_label }}">Znamka in model vozila:</label>
              <input type="text" name="avto" id="{{ obrazec.vas_avto.id_for_label }}" value="{{ obrazec.vas_avto.value }}" placeholder="Model vozila" required>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
            <label for="{{ obrazec.storitev.id_for_label }}">Storitev, ki bi želeli:</label>
            <select name="{{ obrazec.storitev.html_name }}" id="{{ obrazec.storitev.id_for_label }}" class="form-control">
                <option value="" disabled selected>-- Izberite storitev --</option>
                {% for choice in obrazec.storitev.field.queryset %}
                    <option value="{{ choice.pk }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>        
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <label for="{{ obrazec.sporocilo.id_for_label }}">Dodatne želje:</label>
              <textarea name="sporocilo" id="{{ obrazec.sporocilo.id_for_label }}">{{ obrazec.sporocilo.value }}</textarea>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Pošlji</button>
      </div>
  </div>
</form>
</div>
{% endblock %}
{% block extrascripts %}
<script>
$(document).ready(function() {
    // Function to validate email
    function validateEmail(email) {
        var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        return emailRegex.test(email);
    }

    // Function to validate phone number
    function validatePhoneNumber(phoneNumber) {
        var phoneRegex = /^(?:\+386)?[0-9]{9}$/;
        return phoneRegex.test(phoneNumber);
    }

    // Validate email on input
    $('input[type="email"]').on('input', function() {
        $(this).css('border-color', validateEmail($(this).val()) ? '#f09c2f' : 'red');
    });

    // Validate phone number on input
    $('input[name="telefon"]').on('input', function() {
        $(this).css('border-color', validatePhoneNumber($(this).val()) ? '#f09c2f' : 'red');
    });

    // General input and select validation on change
    $('input[type="text"], input[type="email"], textarea, select').on('change', function() {
        // Check if input/select is not empty and is valid
        var isValid = true;
        var value = $(this).val();

        if ($(this).is('input[type="email"]')) {
            isValid = validateEmail(value);
        } else if ($(this).is('input[name="telefon"]')) {
            isValid = validatePhoneNumber(value);
        } else {
            isValid = value !== '';
        }

        $(this).css('border-color', isValid ? '#f09c2f' : 'red');
    });
});
</script>
    
{% endblock %}