{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="kontakt-container">
    <div class="row">
        <!-- Business Card Column -->
        <div class="col-lg-6 mb-2">
            <div class="business-card">
                <img src="{% static 'pictures/logo.jpg' %}" alt="Company Image" class="img-fluid">
                <div class="contact-info">
                    <p class="lead"><span class="info-label">Naslov:</span> <span class="info-detail">{{ kontakt.naslov }}</span></p>
                    <p class="lead"><span class="info-label">Telefonska številka:</span> <span class="info-detail">{{ kontakt.telefon }}</span></p>
                    <p class="lead"><span class="info-label">Email:</span> <span class="info-detail">{{ kontakt.email }}</span></p>
                </div>
            </div>
        </div>

        <!-- Right Side Column for Google Maps, Delovni Čas, and Social Media -->
        <div class="col-lg-6 equal-page">
            <div class="row">
                <!-- Google Maps Box -->
                <div class="col-12 mb-2">
                    <div class="google-maps-responsive">
                        {{ kontakt.google_maps_embed | safe }}
                    </div>
                </div>

                <!-- Delovni Čas and Social Media Row -->
                <div class="col-12">
                    <div class="row">
                        <!-- Delovni Čas Column -->
                        <div class="col-md-6 mb-2">
                            <div class="delovni-cas equal-height">
                                <h3 class="mb-3">Delovni čas</h3>
                                <p><span class="delovni-cas-text">Ponedeljek:</span> {{ kontakt.delovni_cas }}</p>
                                <p><span class="delovni-cas-text">Torek:</span> {{ kontakt.delovni_cas }}</p>
                                <p><span class="delovni-cas-text">Sreda:</span> {{ kontakt.delovni_cas }}</p>
                                <p><span class="delovni-cas-text">Četrtek:</span> {{ kontakt.delovni_cas }}</p>
                                <p><span class="delovni-cas-text">Petek:</span> {{ kontakt.delovni_cas }}</p>
                                <p><span class="delovni-cas-text">Sobota in nedelja:</span> Zaprto </p>
                            </div>
                        </div>

                        <!-- Social Media Column -->
                        <div class="col-md-6 mb-2">
                            <div class="social-media equal-height">
                                <h3>Poiščite nas na socialnih omrežjih!</h3>
                                <div class="social-media-links">
                                    <a href="https://www.facebook.com/profile.php?id=100089183840132" target="_blank" class="social-icon social-fb">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a href="https://www.tiktok.com/@gorenc.detailing" target="_blank" class="social-icon social-tt">
                                        <i class="fab fa-tiktok"></i>
                                    </a>
                                    <a href="https://www.instagram.com/gorenc.detailing/" target="_blank" class="social-icon social-ig">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
{% endblock %}

