{% extends "base.html" %}
{% block content %}
<div id="form-container">
<h1>Kontaktirajte nas!</h1>
{% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
<form method="post" class="container mt-5">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ obrazec.ime.id_for_label }}">Ime in priimek:</label>
    {{ obrazec.ime }}
  </div>
  <div class="form-group">
    <label for="{{ obrazec.email.id_for_label }}">Vaša e-pošta:</label>
    {{ obrazec.email }}
  </div>
  <div class="form-group">
    <label for="{{ obrazec.telefon_for_label }}">Telefonska številka:</label>
    {{ obrazec.telefonska_stevilka }}
  </div>
  <div class="form-group">
    <label for="{{ obrazec.vas_avto.id_for_label }}">Znamka in model vozila:</label>
    {{ obrazec.vas_avto }}
  </div>
  <div class="form-group">
    <label for="{{ obrazec.storitev.id_for_label }}">Storitve, ki bi jih želeli:</label>
    {{ obrazec.storitev }}
</div>
  <div class="form-group">
    <label for="{{ obrazec.sporocilo.id_for_label }}">Dodatne želje:</label>
    {{ obrazec.sporocilo }}
  </div>
  <button type="submit" class="btn btn-primary">Pošlji</button>
</form>
</div>
{% endblock %}
{% block extrascripts %}
<script>
  $(document).ready(function() {
    $('#id_storitve').select2({
      placeholder: 'Izberite storitve',
      allowClear: true,
    });
  });
</script>
{% endblock %}