{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="kontakt-container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Business card section on the left -->
            <div class="business-card">
                <img src="{% static 'pictures/logo.jpg' %}" alt="Company Image" class="img-fluid">
                <h2 class="mb-3">{{ kontakt.ime_podjetja }}</h2>
                <p class="lead">Naslov: {{ kontakt.naslov }}</p>
                <p class="lead">Telefonska številka: {{ kontakt.telefon }}</p>
                <p class="lead">Email: {{ kontakt.email }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Google Maps section on the right -->
            <div class="google-maps-responsive">
                <!-- Embed the Google Maps iframe here -->
                {{ kontakt.google_maps_embed | safe }}
            </div>
            <div class="delovni-cas">
                <h3 class="mb-3">Delovni čas</h3>
                <p><span class="delovni-cas-text">Ponedeljek:</span> {{ kontakt.delovni_cas }}</p>
                <p><span class="delovni-cas-text">Torek:</span> {{ kontakt.delovni_cas }}</p>
                <p><span class="delovni-cas-text">Sreda:</span> {{ kontakt.delovni_cas }}</p>
                <p><span class="delovni-cas-text">Četrtek:</span> {{ kontakt.delovni_cas }}</p>
                <p><span class="delovni-cas-text">Petek:</span> {{ kontakt.delovni_cas }}</p>
                <p><span class="delovni-cas-text">Sobota in nedelja:</span> Zaprto </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


