{% extends "base.html" %}

{% block content %}
<div id="storitve-container" class="container" style="padding-top: 20px; background-color: rgba(0, 0, 0, 0.8); border-radius: 8px; border: 1px solid #f09c2f; box-shadow: 0 0 10px #f09c2f;">
  <div class="gallery-description text-center mb-1">
    <h2 class="font-weight-bold">OGLEJTE SI STORITVE, KI VAM JIH NUDIMO</h2>
  </div>
  <div class="text-center">
    <div class="intro-text">
    <p>Preglejte našo ponudbo in izberite storitev, ki najbolj ustreza vašemu avtomobilu.</p>
    <p>S strokovnim znanjem in izkušnjami zagotavljamo odlične rezultate.</p></div>
    <p class="price-info">Za ceno posamezne storitve in ostale informacije nas <a href="{% url 'kontakt_obrazec' %}"  class="contact-link">kontaktirajte</a>!</p>
    <hr>
  </div>  
  <div class="row">
    {% for storitev in storitve %}
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="card service-wrapper rounded border-0 shadow p-4" style="background-color: rgba(0, 0, 0, 0.45);">
          <div class="icon text-center text-custom h1 shadow rounded bg-white">
            <i class="logo-pos {{ storitev.icon_class }}"></i>
        </div>
            <div class="content mt-4">
                <h5 class="title" style="color: #f09c2f;">{{ storitev.naslov }}</h5>
                <p class="mt-3 mb-0" style="color: rgb(255, 255, 255);">{{ storitev.opis }}</p>
                <div class="mt-3">
                    <!-- <span class="text-custom">{{ storitev.cena }} € </span> -->
                </div>
            </div>
            <div class="big-icon h1 text-custom">
              <i class="logo-pos {{ storitev.icon_class }}"></i>            
            </div>
        </div>
      </div><!--end col-->
      {% endfor %}
      <a href="{% url 'kontakt_obrazec' %}" class="btn btn-secondary btn-lg mt-4 mb-3 mx-auto btn-yellowish"><strong>Naročite se zdaj!</strong></a>
  </div><!--end row-->
</div>
{% endblock %}

{% block extrascripts %}
<script>
  $(document).ready(function() {
    // Get the maximum height among all service wrappers
    var maxHeight = Math.max.apply(
      null,
      $(".service-wrapper").map(function() {
        return $(this).height();
      }).get()
    );

    // Set the height of all service wrappers to the maximum height
    $(".service-wrapper").height(maxHeight);
  });
</script>
{% endblock %}
