{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Storitve</h1>
    <div class="row">
      {% for service in services %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ service.naslov }}</h2>
              <p class="card-text">{{ service.opis }}</p>
              <p class="card-text"><strong>Cena:</strong> {{ service.cena }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
